body {
  color: #555555;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 75%;
  line-height: 150%;
  background-color: #FAD08A;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

a:hover {
  color: #0099FF;
}

a:visited {
  color: #004C99;
}

a {
  color: #0066CC;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #555555;
  font-weight: bold;
}
