#metric-details {
  border-right: 1px solid #EFEFEF;
  float: left;
  padding-right: 20px;
  width: 37%;
}

#metric-details h2 {
  font-size: 500%;
  line-height: normal;
  margin-bottom: 20px;
  color: #323537;
  text-align: center;
}

#metric-children {
  float: right;
  width: 60%;
}
