div.portlet {
  position: relative;
  float: left;
  width: 45em;
  border: 1px solid #EDEDED;
  padding: 10px;
  margin: 0 20px 20px 0;
  -moz-box-shadow: 1px 1px 1px #AAA;
  -webkit-box-shadow: 1px 1px 1px #AAA;
  box-shadow: 1px 1px 1px #AAA;
}
