#title-bar {
  background: #EFEFEF;
  border-bottom: 1px solid #EDEDED;
  color: #5E6469;
  font-size: 1em;
  font-weight: bold;
  line-height: 140%;
  padding: 10px 30px;
  position: relative;
  text-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 2px #AAAAAA;
  -webkit-box-shadow: 0 1px 2px #AAAAAA;
  box-shadow: 0 1px 2px #AAAAAA;
}

#title-bar h2 {
  font-size: 2.6em;
  font-weight: bold;
  margin: 12px 0 10px;
}

#title-bar h4 {
  margin-bottom: 0.25em;
  color: #5E6469;
}

#title-bar h4 a {
  color: #5E6469;
}
