<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/screen.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print"/>
    <!--[if IE]><link rel="stylesheet" type="text/css" href="stylesheets/ie.css" media="screen, projection"/><![endif]-->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/pygments.css" media="screen, projection"/>
  </head>
  <body>
    <div class="container">
      <div id="hd" class="span-24 last" style="padding-bottom:20px;" >
        <a href="index.html"><img src="images/banner.png"></a>
        <a href="https://github.com/nearinfinity/system-metrics"><img id="fork-me" src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
        <p class="intro">{{ page.subtitle }}</p>
        <ul>
          <a href="screenshots.html">Screenshots</a>
          <a href="documentation.html">Documentation</a>
          <a href="https://github.com/nearinfinity/system-metrics">Code</a>
        </ul>
      </div>
      <div id="bd" class="span-24 last">
        {{ content }}
      </div>
      <div id="ft" class="span-24 last">
        &copy;2011 Near Infinity - <a href="http://www.nearinfinity.com">www.nearinfinity.com</a>
      </div>
    </div>
  </body>
</html>
